@import 'config';
@import 'utilities';
@import 'buttons';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.6;
    font-style: $font-stack;
    background-color: $light-color;
}
a{
    text-decoration: none;
}
.showcase{
    color:#fff;
    background-color: $primary-color;
    height: 60rem;
    
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul{
            display: flex;
            list-style-type: none;
        }
        li{
            padding: 15px;
        }
    }
    a:hover{
        color: $secondary-color;;
    }
    a{
        color: white;
    }
    &-content{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 50%;
        }
        h1{
            font-size: 50px;
            line-height: 1.2;
        }
        p{
            margin:20px 0;
        }
    }
}
